# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.project
.settings/org.eclipse.buildship.core.prefs
.vscode/settings.json
app/.classpath
app/.project
app/.settings/org.eclipse.buildship.core.prefs
terraform/terraform-konna-aks-cluster/.terraform.lock.hcl
terraform/terraform-konna-aks-cluster/terraform.tfstate
terraform/terraform-konna-aks-cluster/terraform.tfstate.backup
terraform/terraform-konna-aks-cluster/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.66.0/linux_amd64/terraform-provider-azurerm_v2.66.0_x5
terraform/terraform-konna-aks-deploy/.terraform.lock.hcl
terraform/terraform-konna-aks-deploy/terraform.tfstate
terraform/terraform-konna-aks-deploy/terraform.tfstate.backup
terraform/terraform-konna-aks-deploy/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.42.0/linux_amd64/terraform-provider-azurerm_v2.42.0_x5
terraform/terraform-konna-aks-deploy/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.8.0/linux_amd64/terraform-provider-kubernetes_v2.8.0_x5
terraform/terraform-konna-ecs-deploy/.terraform.lock.hcl
terraform/terraform-konna-ecs-deploy/terraform.tfstate
terraform/terraform-konna-ecs-deploy/terraform.tfstate.backup
terraform/terraform-konna-ecs-deploy/.terraform/providers/registry.terraform.io/hashicorp/aws/4.5.0/linux_amd64/terraform-provider-aws_v4.5.0_x5
terraform/terraform-konna-eks-cluster/.terraform.lock.hcl
terraform/terraform-konna-eks-cluster/terraform.tfstate
terraform/terraform-konna-eks-cluster/terraform.tfstate.backup
terraform/terraform-konna-eks-cluster/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/linux_amd64/terraform-provider-aws_v3.63.0_x5
terraform/terraform-konna-eks-cluster/.terraform/modules/modules.json
terraform/terraform-konna-eks-cluster/.terraform/providers/registry.terraform.io/hashicorp/cloudinit/2.2.0/linux_amd64/terraform-provider-cloudinit_v2.2.0_x5
terraform/terraform-konna-eks-cluster/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.5.1/linux_amd64/terraform-provider-kubernetes_v2.5.1_x5
terraform/terraform-konna-eks-cluster/.terraform/providers/registry.terraform.io/hashicorp/null/3.1.0/linux_amd64/terraform-provider-null_v3.1.0_x5
terraform/terraform-konna-eks-cluster/.terraform/providers/registry.terraform.io/hashicorp/local/2.1.0/linux_amd64/terraform-provider-local_v2.1.0_x5
terraform/terraform-konna-eks-cluster/.terraform/providers/registry.terraform.io/hashicorp/random/3.1.0/linux_amd64/terraform-provider-random_v3.1.0_x5
terraform/terraform-konna-eks-cluster/.terraform/providers/registry.terraform.io/terraform-aws-modules/http/2.4.1/linux_amd64/CHANGELOG.md
terraform/terraform-konna-eks-cluster/.terraform/providers/registry.terraform.io/terraform-aws-modules/http/2.4.1/linux_amd64/LICENSE
terraform/terraform-konna-eks-cluster/.terraform/providers/registry.terraform.io/terraform-aws-modules/http/2.4.1/linux_amd64/README.md
terraform/terraform-konna-eks-cluster/.terraform/providers/registry.terraform.io/terraform-aws-modules/http/2.4.1/linux_amd64/terraform-provider-http_v2.4.1
terraform/terraform-konna-eks-deploy/.terraform.lock.hcl
terraform/terraform-konna-eks-deploy/terraform.tfstate
terraform/terraform-konna-eks-deploy/terraform.tfstate.backup
terraform/terraform-konna-eks-deploy/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/linux_amd64/terraform-provider-aws_v3.63.0_x5
terraform/terraform-konna-eks-deploy/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.5.1/linux_amd64/terraform-provider-kubernetes_v2.5.1_x5
