# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.project
.settings/org.eclipse.buildship.core.prefs
.vscode/settings.json
app/.classpath
app/.project
app/.settings/org.eclipse.buildship.core.prefs
